body {
  overflow-x: hidden;
}

.curve {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 95vh;
  z-index: -1;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  background: radial-gradient(
    50% 62.97% at 50% 37.03%,
    #c6246c 1.93%,
    #74107c 100%
  );
  transform: scaleX(1.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #000000;
  box-sizing: border-box;
}

.HomePage {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 75vh;
}

.homehead {
  width: 50%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10rem;
}

.homehead h1 {
  font-family: poiret one;
  font-size: 13rem;
  line-height: 175px;
  font-weight: 300;
}

.homehead h2 {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 4.5rem;
  /* line-height: 75px; */
  text-align: center;
  color: #e6b2ea;
  margin: 2rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.homeimg img {
  width: 100%;
  transform: translateY(-15.5rem);
}

.browse-container {
  display: flex;
  justify-content: center;
}

/* .card__content .prize{
  display:flex;
  font-size: 1rem;
} */

.card__content img{
    margin-top: 1rem;
  width: 16rem;
}
.browse {
  /* position: absolute; */
  width: 68rem;
  background: #ffffff;
  border-radius: 40px;
  transform: translateY(2rem);
}

.browse p {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 6.4rem;
  text-align: center;
  line-height: 92px;
  color: #76117c;
}

.space {
  margin-top: 100%;
}
.cards {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  /* grid-template-columns: repeat(auto-fill, minmax(225px, 1fr)); */
  grid-auto-rows: auto;
  gap: 30px;
  font-family: sans-serif;
  padding-top: 30px;
}

.cards * {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 90%;
  height: 115px;
  object-fit: fill;
  display: block;
  transform: translateY(8rem);
  /* border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333; */
}

.card__content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background: rgba(86, 16, 90, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding-top: 8rem;
  /* background: #fafafa; */
  /* border-right: 2px solid #333333;
    border-left: 2px solid #333333; */
}
.card__content > h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 33px;
  text-align: center;
}
.card__content > p {
  color: #000000;
}

.card__content > p:first-of-type {
  margin-top: 0;
}

.card__content > p:last-of-type {
  margin-bottom: 0;
}

.card__info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555555;
  background: #eeeeee;
  font-size: 0.8em;
  /* border-bottom: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333; */
}

.card__info i {
  font-size: 0.9em;
  margin-right: 8px;
}

.card__link {
  color: #64968c;
  text-decoration: none;
}

.card__link:hover {
  text-decoration: underline;
}

.card2 {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 40px;
  width: 100vw;
  height: 100vh;
  top:65rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  display:none;
}

.bg-border {
  background: rgba(86, 16, 90, 0.5);
  border-radius: 12px;
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-border h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 5rem;
  color: #000000;
}

.bg-border p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: #ffffff;
}

.bg-border h4 {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 3rem;
    color: #FFFFFF;
}

.bg-border .star-line i{
    font-size:3rem;
}
.prize{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 2rem;
}
.prize .offer{
    text-decoration-line: line-through;
    
    margin: 1rem;
}

.order-button{
    width: 35rem;
    height: 8rem;
    background: #74107C;
    border-radius: 11px;
    font-size: 5rem;
    display:flex;
    justify-content:center;
    transition: all 0.2s ease-in-out;
    align-items: center;
}
.items-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 0;
  background: linear-gradient(
    180deg,
    #76117c 0%,
    rgba(118, 17, 124, 0) 48.96%,
    #76117c 99.98%,
    rgba(118, 17, 124, 0.0260417) 99.99%
  );
  border-radius: 10px;
  width: 70vw;
  padding: 1rem;
  margin-bottom: -5rem;
}

.items__bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2.5rem;
  padding: 0.5rem  1rem;
}

.items__bg:hover{
    background: linear-gradient(135.77deg, rgba(255, 255, 255, 0.4) -94.16%, rgba(255, 255, 255, 0) 100%);
backdrop-filter: blur(42px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 13px;
cursor: pointer;
}

.items__bg img{
    height: 3rem;
    width: 3rem;
}

.star-line{
    display: flex;
}

#burger{
    background: none;
    border: none;
    color: white;
}

#burger:hover{
    cursor: pointer;
}

.card .card__image:hover{
  cursor: pointer;
}

.card .card__content:hover{
  cursor: pointer;
}

#all_bg{
  background: linear-gradient(135.77deg, rgba(255, 255, 255, 0.4) -94.16%, rgba(255, 255, 255, 0) 100%);
backdrop-filter: blur(42px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 13px;
}

.order-button:hover{
  background: #c6246c;
  cursor: pointer;
  transform: scale(1.2);
}