

body{
    position: relative;
    /* height: 100vh; */
    background: linear-gradient(180deg, #C6246C 3.91%, #C9256B 3.91%, #74107C 100%, #77117B 100%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.shoping-cart{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 2rem;
}

button{
  /*
    background-color: #FFFFFF; 
    border: 1px solid #fff;
    margin-top: 5px;
    padding: 0.3rem 1rem;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    cursor: pointer;
    border-radius: 50%;
    color: #8E1A63;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
} 

.number-container{
        display: flex;
        align-items: center;
}
.unopened{
    background-color: #8E1A63;
    color: #fff;
}

.status-bar{
    background: rgba(86, 16, 90, 0.5);
    border-radius: 12px;
    width: 80rem;
    height: 8rem;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.stat-numbers{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.6rem;
}
.number{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}

.first{
    position: absolute;
    
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

.first:hover{
  cursor: pointer;
}
.connecting-line{
    /* position: absolute; */
width: 20rem;
height: 0px;
border: 0.6px solid #FFFFFF;
}

.stat{
  display: flex;
  justify-content: center;
}

.status{
    margin: 0px;
}
.steps{
    display: flex;
}

.status{
   
font-style: normal;
font-weight: 600;
font-size: 1.5rem;
padding: 0.5rem 6.5rem;
}
.order-details{
    background: rgba(86, 16, 90, 0.5);
    border-radius: 12px;
    width: 80rem;
    height: 70rem;  
    margin: 3rem;
    display: flex;
    align-items:flex-start;
    justify-content: center;
}

.opaque-layer{
    background: linear-gradient(90.27deg, rgba(255, 255, 255, 0.4) 0.23%, rgba(255, 255, 255, 0.152) 100%);
    border-radius: 16px;
    width: 70rem;
    height: 10rem;
    margin: 3rem;
    display: flex;
}

.prize{
    display: flex;
}

.p2-light{
    color: rgba(255, 255, 255, 0.6);
    padding-left: 1.2rem;
    text-decoration: line-through;
}


input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    background-color:#77117B;

}

input[type="number"]{
    background: #77117B;
    border-radius: 4px;
    font-size: 2rem;
    border: none;
    color: white;
    text-align: center;
    width: 10rem;
}

.item-ordered{
    display:flex ;
}
.item-name{
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 44px;
    width: 42rem;
}

.item-bill{
    font-size: 1.7rem;
    padding: 1rem 0rem 1rem 34rem;

}

.next{
    width: 179px;
    height: 53px;
    background: #74107C;
    border-radius: 11px;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    display: flex;
    margin: 5rem 0rem;
    align-items: center;
    justify-content: center;
    border: none;
    color: #fff;
}

.delivery-deatils{
    padding: 10rem;
}

textarea{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(255, 255, 255);
    color: #fff;
    margin-top: 1rem;
    padding: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

textarea::placeholder {
  color: rgb(211, 211, 211);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

a:visited{
    color: #fff;
}
.address-change{
    margin-top:1.3rem;
    font-weight: bolder;
}
.card-3{
  display: none;
}
.payemnt-mode{
  background: linear-gradient( 90.27deg, rgba(255, 255, 255, 0.4) 0.23%, rgba(255, 255, 255, 0.152) 100% );
  border-radius: 16px;
  align-items: center;
  margin: 1rem;
  padding: 2rem;
  display: flex;
  display: none;
}

.payment-details{
  background: linear-gradient( 90.27deg, rgba(255, 255, 255, 0.4) 0.23%, rgba(255, 255, 255, 0.152) 100% );
  border-radius: 16px;
  align-items: center;
  margin: 1rem;
  padding: 2rem;
  display: none;
}

.pay-head{
  font-size: 1.9rem;
  margin: 1rem;
  font-weight: 300;
}

.pay h3{
  font-size: 2.5rem;
  margin: 1rem;
  font-weight: 400;
}

.place-order-cart{
  display: flex;
  justify-content: center;
}

#pay-input{
  margin: 0rem 1rem ;
  background: none;
  padding: 1rem; 
  border: 1px solid white;
  width: 35vw;
  color: white;
}
 

#card-expire{
  background-color: rgba(149,61,128,0);
  color: rgba(255, 255, 255, 0.7);
  border-color: #fff;
  margin: 0rem 1rem;
  height: 3rem;
}

.whiteText {
  color:#FFF;
}

div.cvv{
  margin: 1rem 10vw;
  
}

.expire-menu{
  display: flex;
}

.expire-menu #pay-input{
  margin: 0vw 9.7vw;
  height: 3rem;
  width: 10rem
}

.terms-n-conditions{
  display: flex;
    align-content: center;
    align-items: center;
    margin: 2rem 1rem;
}

#pay-card{
  width:1rem;
  height: 1rem;
  border: none;
}
.pay-now{
  width: 17rem;
height: 5rem;
background: #74107C;
border-radius: 11px;
font-size: 2rem;
color: #fff;
border: none;
}
/* FOOTER */

footer {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(
      135.77deg,
      rgba(255, 255, 255, 0.4) -94.16%,
      rgba(255, 255, 255, 0) 100%
    );
    backdrop-filter: blur(42px);
    /* height: 30vh; */
    border: 1px solid white;
    font-size: 1.8rem;
    margin-top: 3rem;
    /* border-image-source: linear-gradient(137.55deg, #FFFFFF -45.47%, rgba(255, 255, 255, 0) 132.54%); */
  }
  
  footer h3{
    font-weight: 400;
    margin: 2rem 0;
  }
  
  footer .copyright{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  footer .copyright .socials{
    display: flex;
  }
  
  footer .copyright span{
    margin: 0.5rem 1rem;
  }
  
  footer .copyright .socials .socials-bg{
    margin: 1rem;
    padding: 0.5rem 0.8rem;
    border-radius: 50%;
    background: #8b2b87;
  }
  
  footer .copyright .socials .socials-bg:hover{
    cursor: pointer;
    background: white;
  }
  
  footer .copyright .socials .socials-bg i:hover{
    color: black;
  }
  
  footer .company p{
    margin: 2rem 0;
    color: #D9DBE1;
    font-size: 1.5rem;
  }
  
  footer .company p:hover{
    color: white;
    cursor: pointer;
  }
  
  footer .support p{
    margin: 2rem 0;
    color: #D9DBE1;
    font-size: 1.5rem;
  }
  
  footer .support p:hover{
    color: white;
    cursor: pointer;
  }
  
  footer .up-to-date .form{
    display: flex;
    align-items: center;
    background: linear-gradient(
      90.27deg,
      rgba(255, 255, 255, 0.4) 0.23%,
      rgba(255, 255, 255, 0.152) 100%
    );
    padding: 1rem;
    border-radius: 10px;
  }
  
  footer .up-to-date .form i:hover{
    cursor: pointer;
  }
  
  footer .up-to-date .form input{
    padding: 0.5rem 0;
    background: none;
    border: none;
    color: white;
  }
  
  footer .up-to-date .form input::placeholder{
    color: white;
  }

.card_1{
  display: none;
}

.card_3{
  display: none;
}

.choose-quantity{
  display: flex;
}

.choose-quantity div{
  width: 5vw;
  background: #77117B;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.choose-quantity button{
  background: #77117B;
  border-radius: 0px 0px;
  border: none;
  color: white;
  padding: 0 0.5rem;
}

body{
  height: 295vh !important;
}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
}

#button1{
  background: white;
  color: #77117B;
  border: 1px solid white;
  padding: 0 1rem;
}

#button2{
  background: none;
  color: white;
  border: 1px solid white;
  padding: 0 1rem;
}

#button2:hover{
  cursor: pointer;
  color: #77117B;
  background: white;
}

#button3{
  background: none;
  color: white;
  border: 1px solid white;
  padding: 0 1rem;
}

#button3:hover{
  cursor: pointer;
  color: #77117B;
  background: white;
}

/* .card-3{
  display: none;
  background: linear-gradient(
    90.27deg,
    rgba(255, 255, 255, 0.4) 0.23%,
    rgba(255, 255, 255, 0.152) 100%
  );
  border-radius: 16px;
  display: flex;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
}

.card_3 {
  display: none;
}

.card_3 .address-block {
  background: linear-gradient(
    90.27deg,
    rgba(255, 255, 255, 0.4) 0.23%,
    rgba(255, 255, 255, 0.152) 100%
  );
  border-radius: 16px;
  display: flex;
  align-items: center;
  margin: 2rem;
  padding: 2rem;
}

.card_3 .address-block .radio form input {
  margin-right: 2rem;
} */