.stat-numbers{
    zoom:0.55;
}
.stat{
    zoom:0.75;
}

.item-bill{
    /* width: 50vw; */
    padding: 1rem 1rem 0rem 20rem;
    font-style: normal;
    font-weight: normal;
    line-height: 5rem;
    font-size: 3rem;
}

.address-textarea {
    font-size: 2rem;
    width: 65rem;
}

body{
    height: 200vh !important;
  }

.item-name{
    font-size: 3rem;
}

.next{
    width: 120px;
    height: 32px;
    font-size: 20px;
}